<div class="flex flex-col gap-2.5 items-start h-screen justify-start relative">
  <div
    class="rounded-xl border-solid border-gray-gray-20percent border shrink-0 w-full h-full relative"
  ></div>
  <div
    class="flex flex-col gap-4 items-end justify-start shrink-0 absolute left-5  top-5"
  >
    <div class="shrink-0  h-14 static">
      <div
        class="flex flex-row gap-5 items-start justify-start absolute left-0 top-0"
      >
        <div
          class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative"
        >
          <div class="shrink-0 w-6 h-6 relative overflow-hidden">
            <svg
              class="h-[auto] absolute left-[5px] top-[3px] overflow-visible"
              style=""
              width="14"
              height="18"
              viewBox="0 0 14 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7 8C9.20914 8 11 6.20914 11 4C11 1.79086 9.20914 0 7 0C4.79086 0 3 1.79086 3 4C3 6.20914 4.79086 8 7 8ZM7 18C10.866 18 14 16.2091 14 14C14 11.7909 10.866 10 7 10C3.13401 10 0 11.7909 0 14C0 16.2091 3.13401 18 7 18Z"
                fill="#E83F25"
              />
            </svg>
          </div>
          <div
            class="text-primary-500 text-left font-body-1-bold-font-family text-body-1-bold-font-size leading-body-1-bold-line-height font-body-1-bold-font-weight relative"
          >
            Personal Information
          </div>
        </div>
        <div
          class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative"
        >
          <svg
            class="shrink-0 w-6 h-6 relative overflow-visible"
            style=""
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 6V5C8 3.34315 9.34315 2 11 2H13C14.6569 2 16 3.34315 16 5V6M2 10.3475C2 10.3475 5.11804 12.4244 9.97767 12.9109M22 10.3475C22 10.3475 18.882 12.4244 14.0223 12.9109M6 22H18C20.2091 22 22 20.2091 22 18V10C22 7.79086 20.2091 6 18 6H6C3.79086 6 2 7.79086 2 10V18C2 20.2091 3.79086 22 6 22Z"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M14 12.1602V13.1602C14 13.1702 14 13.1702 14 13.1802C14 14.2702 13.99 15.1602 12 15.1602C10.02 15.1602 10 14.2802 10 13.1902V12.1602C10 11.1602 10 11.1602 11 11.1602H13C14 11.1602 14 11.1602 14 12.1602Z"
              stroke="white"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div
            class="text-white-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative"
          >
            Professional Information
          </div>
        </div>
        <div
          class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative"
        >
          <svg
            class="shrink-0 w-6 h-6 relative overflow-visible"
            style=""
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 6C4 3.79086 5.79086 2 8 2H15.3431C16.404 2 17.4214 2.42143 18.1716 3.17157L20.8284 5.82843C21.5786 6.57857 22 7.59599 22 8.65685V18C22 20.2091 20.2091 22 18 22H8C5.79086 22 4 20.2091 4 18V6Z"
              stroke="white"
              stroke-width="1.5"
              stroke-linejoin="round"
            />
            <path
              d="M9 7L17 7"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M9 12H17"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
            />
            <path
              d="M9 17H13"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
          <div
            class="text-white-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative"
          >
            Documents
          </div>
        </div>
        <div
          class="flex flex-row gap-2.5 items-start justify-start shrink-0 relative"
        >
          <svg
            class="shrink-0 w-6 h-6 relative overflow-visible"
            style=""
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 8H8M16 8C18.2091 8 20 9.79086 20 12V18C20 20.2091 18.2091 22 16 22H8C5.79086 22 4 20.2091 4 18V12C4 9.79086 5.79086 8 8 8M16 8V6C16 3.79086 14.2091 2 12 2C9.79086 2 8 3.79086 8 6V8M14 15C14 16.1046 13.1046 17 12 17C10.8954 17 10 16.1046 10 15C10 13.8954 10.8954 13 12 13C13.1046 13 14 13.8954 14 15Z"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div
            class="text-white-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative"
          >
            Account Access
          </div>
        </div>
      </div>
      <div
        class="bg-gray-gray-20percent w-[1040px] h-px absolute left-0 top-[33px]"
      ></div>
      <div class="bg-primary-500 w-[207px] h-[3px] absolute left-0 top-8"></div>
    </div>
    <div
      class="flex flex-col gap-5 items-start justify-start shrink-0 relative"
    >
      <div class="shrink-0  h-24 static">
        <div
          class="bg-gray-gray-5percent rounded-xl border-solid border-gray-gray-20percent border w-[100px] h-[100px] absolute left-0 top-0"
        ></div>
      </div>
      <div
        class="flex flex-col gap-5 items-start justify-start shrink-0 relative"
      >
        <div class="flex flex-col lg:flex-row gap-5 items-start justify-start w-full relative">
          <div class="rounded-xl border border-gray-300 pt-2.5 pr-5 pb-2.5 pl-5 flex-1 h-14 relative">
            <input type="text" placeholder="First Name"
                   class="appearance-none outline-none w-full h-full bg-transparent text-gray-800 placeholder-gray-500">
          </div>
          <div class="rounded-xl border border-gray-300 pt-2.5 pr-5 pb-2.5 pl-5 flex-1 h-14 relative">
            <input type="text" placeholder="Last Name"
                   class="appearance-none outline-none w-full h-full bg-transparent text-gray-800 placeholder-gray-500">
          </div>
        </div>
        <div class="flex flex-col lg:flex-row gap-5 items-start justify-start w-full relative">
          <div class="rounded-xl border border-gray-300 pt-2.5 pr-5 pb-2.5 pl-5 flex-1 h-14 relative">
            <input type="text" placeholder="First Name"
                   class="appearance-none outline-none w-full h-full bg-transparent text-gray-800 placeholder-gray-500">
          </div>
          <div class="rounded-xl border border-gray-300 pt-2.5 pr-5 pb-2.5 pl-5 flex-1 h-14 relative">
            <input type="text" placeholder="Last Name"
                   class="appearance-none outline-none w-full h-full bg-transparent text-gray-800 placeholder-gray-500">
          </div>
        </div>


        <div class="flex flex-row gap-5 items-start justify-start shrink-0  w-full relative">
          <div class="rounded-xl border-solid border-gray-gray-20percent border p-4 flex flex-col gap-2.5 items-start justify-start flex-1 relative">
            <div class="flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative">
              <input type="text" placeholder="City" class="text-gray-gray-80percent text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative flex-1 outline-none">
            </div>
          </div>
          <div class="rounded-xl border-solid border-gray-gray-20percent border p-4 flex flex-col gap-2.5 items-start justify-start flex-1 relative">
            <div class="flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative">
              <input type="text" placeholder="State" class="text-gray-gray-80percent text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative flex-1 outline-none">
            </div>
          </div>
          <div class="rounded-xl border-solid border-gray-gray-20percent border p-4 flex flex-col gap-2.5 items-start justify-start flex-1 relative">
            <div class="flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative">
              <input type="text" placeholder="ZIP Code" class="text-gray-gray-80percent text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative flex-1 outline-none">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div
      class="flex flex-row gap-5 items-start justify-start shrink-0 relative"
    >
      <div
        class="rounded-xl border-solid border-gray-gray-20percent border p-5 flex flex-row gap-2.5 items-center justify-center shrink-0 h-[50px] relative"
      >
        <div
          class="text-white-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative"
        >
          Cancel
        </div>
      </div>
      <div
        class="bg-primary-500 rounded-xl p-5 flex flex-row gap-2.5 items-center justify-center shrink-0 w-[91px] h-[50px] relative"
      >
        <div
          class="text-white-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative"
        >
          Next
        </div>
      </div>
    </div>
  </div>
</div>
