<div class="flex flex-col gap-2.5 items-start justify-start relative">
  <div class="flex flex-col w-full gap-4 items-start justify-start shrink-0 absolute left-5 top-5">
    <div class="shrink-0 h-14 static">
      <div class="flex w-full flex-row gap-5 items-start justify-start absolute left-0 top-0">
        <nz-steps
          (nzIndexChange)="onIndexChange($event)"
          class="flex items-start justify-between w-full"
          [nzCurrent]="current" nzSize="small">
          <!-- Step 1: Données personnelles -->
          <nz-step
            [nzStatus]="current === 0 ? 'process' : (personeInformation.valid ? 'finish' : 'error')"
            [nzIcon]="current === 0 ? 'loading' : ''"
            nzTitle="Données personnelles">
          </nz-step>

          <!-- Step 2: Données professionnelles -->
          <nz-step
            [nzStatus]="current === 0 ? 'wait' : (current === 1 ? 'process' : (professionalInformation.valid ? 'finish' : 'error'))"
            [nzIcon]="current === 1 ? 'loading' : ''"
            nzTitle="Données personnelles">
          </nz-step>

          <!-- Step 3: Permissions -->
          <nz-step
            [nzStatus]="current === 2 ? 'process' : (current > 2 ? 'finish' : '')"
            nzTitle="Permissions">
          </nz-step>
        </nz-steps>

      </div>
    </div>

    <form
      class="w-full"
      [formGroup]="multipleForm" (ngSubmit)="next()">

      <app-persone-information
        *ngIf="current === 0"
        [parentForm]="personeInformation"></app-persone-information>

      <app-professional-information
        *ngIf="current === 1"
        [parentForm]="professionalInformation"/>

      <div *ngIf="current === 2">
        <app-roles-information />
      </div>

      <div class="flex flex-row items-start mt-10 space-x-1.5 justify-end shrink-0 relative">
        <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0"
                class="rounded-xl border-solid border-gray-gray-20percent border p-5 flex flex-row gap-2.5 items-center justify-center shrink-0 h-[50px] relative">
          Previous
        </button>
        <button nz-button nzType="default" type="submit"
                class="bg-primary-500 rounded-xl p-5 flex flex-row gap-2.5 items-center justify-center shrink-0 w-[91px] h-[50px] relative">
          {{ (current < 2) ? 'Next' : 'Save' }}
        </button>
      </div>

      <pre>{{ multipleForm.value | json }}</pre>
    </form>

  </div>
</div>
