<form [formGroup]="profileForm">
  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">ID</label>
    <input formControlName="id"
           placeholder="ID"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow"
    >
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">category</label>
    <nz-select
      class="w-64"
      formControlName="category" (ngModelChange)="onCategoryChange($event)">
      <nz-option *ngFor="let cat of categories" [nzValue]="cat.category" [nzLabel]="cat.category"></nz-option>
    </nz-select>
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">department</label>
    <nz-select
      class="w-64"
      formControlName="department_id"
      (ngModelChange)="onDepartmentChange($event)">
      <nz-option *ngFor="let dept of filteredDepartments" [nzValue]="dept.id" [nzLabel]="dept.name"></nz-option>
    </nz-select>
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">job</label>
    <nz-select
      class="w-64"
      formControlName="job_id">
      <nz-option *ngFor="let job of filteredJobs" [nzValue]="job.id" [nzLabel]="job.name"></nz-option>
    </nz-select>
  </div>


  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">Manager Name</label>

    <app-manager-select
      class="w-64"
      formControlName="manager_id"
      (managerSelected)="onManagerSelected($event)"
    ></app-manager-select>

  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">First Name</label>
    <input formControlName="first_name"
           placeholder="First Name"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">Last Name</label>
    <input formControlName="last_name"
           placeholder="Last Name"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">CIN</label>
    <input formControlName="cin"
           placeholder="CIN"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">CNSS</label>
    <input formControlName="cnss"
           placeholder="CNSS"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">Phone Number</label>
    <input formControlName="phone_number"
           placeholder="Phone Number"
           type="number"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">Birth Date</label>
    <input formControlName="birth_date"
           placeholder="Birth Date"
           type="date"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">Sexe</label>
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select Sexe"
      formControlName="Sexe"
      class="w-64 h-10">
      <nz-option nzLabel="Male" nzValue="Male"></nz-option>
      <nz-option nzLabel="Female" nzValue="Female"></nz-option>
    </nz-select>
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">City Name</label>
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a city"
      formControlName="city_id"
      class="w-64 h-10">
      <nz-option *ngFor="let city of cities" [nzLabel]="city.name" [nzValue]="city.id"></nz-option>
    </nz-select>
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">Date Start</label>
    <input formControlName="date_start"
           placeholder="Date Start"
           type="date"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">Date Hiring</label>
    <input formControlName="date_hiring"
           placeholder="Date Hiring"
           type="date"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">Date Visit</label>
    <input formControlName="date_visit"
           placeholder="Date Visit"
           type="date"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>

  <div class="flex justify-between items-center py-3 text-sm font-medium">
    <label class="text-gray-500">Date End</label>
    <input formControlName="date_end"
           placeholder="Date End"
           type="date"
           class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-64 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow">
  </div>
</form>
