<div class="flex min-h-full">
    <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
            <div>
                <img class="h-10 w-auto"
                     src="https://www.aptiv.com/images/default-source/email-campaigns/aptiv_logo_color_rgb.png"
                     alt="Your Company">
                <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
            </div>
            <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
                <nz-form-item>
                    <nz-form-label nzFor="employee_id">Employee ID</nz-form-label>
                    <nz-form-control nzErrorTip="Please input your Employee ID!">
                        <nz-input-group nzPrefixIcon="user">
                            <input nz-input formControlName="employee_id" id="employee_id" placeholder="Employee ID"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="password">Password</nz-form-label>
                    <nz-form-control nzErrorTip="Please input your Password!">
                        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                            <input [type]="passwordVisible ? 'text' : 'password'" nz-input
                                   formControlName="hashed_password" id="password" placeholder="Password"/>
                        </nz-input-group>
                        <ng-template #suffixTemplate>
                            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                               (click)="passwordVisible = !passwordVisible"></i>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <div>
                    <button nz-button nzType="primary" [nzLoading]="is_loading" class="w-full" type="submit"
                            [disabled]="loginForm.invalid">
                        Sign in
                    </button>
                </div>
            </form>
            <nz-divider nzText="OR"></nz-divider>
            <div class="w-full">
                <button nz-button nzType="default" (click)="loginWithOutlook()" class="w-full">
                    <i nz-icon nzType="mail" nzTheme="outline"></i>
                    Login with Outlook
                </button>
            </div>
        </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
        <app-carousel-login/>
    </div>
</div>
