<div class="flex min-h-full">
  <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-10 w-auto" src="https://www.aptiv.com/images/default-source/email-campaigns/aptiv_logo_color_rgb.png"
             alt="Your Company">
        <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
      </div>
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
          <div>
            <label for="employee_id" class="block text-sm font-medium leading-6 text-gray-900">Employee_id</label>
            <div class="mt-2">
              <input id="employee_id" name="employee_id" type="text" autocomplete="employee_id"
                     formControlName="employee_id" required
                     class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                     [ngClass]="{'ring-red-500': loginForm.controls['employee_id'].invalid && (loginForm.controls['employee_id'].dirty || loginForm.controls['employee_id'].touched)}">
              <div
                *ngIf="loginForm.controls['employee_id'].invalid && (loginForm.controls['employee_id'].dirty || loginForm.controls['employee_id'].touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="loginForm.controls['employee_id'].errors?.['required']">Employee ID is required.</div>
                <div *ngIf="loginForm.controls['employee_id'].errors?.['pattern']">Employee ID must be a number.</div>
              </div>
            </div>
          </div>
          <div>
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            <div class="mt-2 relative">
              <input id="password" name="password" [type]="showPassword ? 'text' : 'password'"
                     formControlName="hashed_password"
                     autocomplete="current-password" required
                     class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                     [ngClass]="{'ring-red-500': loginForm.controls['hashed_password'].invalid && (loginForm.controls['hashed_password'].dirty || loginForm.controls['hashed_password'].touched)}">
              <span class="absolute inset-y-0 right-0 flex items-center pr-3">
          <button type="button"
                  aria-label="Toggle password visibility"
                  (click)="togglePasswordVisibility()"
                  class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path *ngIf="showPassword" fill-rule="evenodd"
                    d="M10 3c-2.757 0-5 2.243-5 5s2.243 5 5 5c2.757 0 5-2.243 5-5s-2.243-5-5-5zm0 8c-1.654 0-3-1.346-3-3s1.346-3 3-3c1.654 0 3 1.346 3 3s-1.346 3-3 3zm0-8C6.141 3 3 6.141 3 10s3.141 7 7 7 7-3.141 7-7-3.141-7-7-7zm0 12c-3.859 0-7-3.141-7-7s3.141-7 7-7 7 3.141 7 7-3.141 7-7 7z"
                    clip-rule="evenodd"/>
              <path *ngIf="!showPassword" fill-rule="evenodd"
                    d="M10 3c-2.757 0-5 2.243-5 5s2.243 5 5 5c2.757 0 5-2.243 5-5s-2.243-5-5-5zm0 8c-1.654 0-3-1.346-3-3s1.346-3 3-3c1.654 0 3 1.346 3 3s-1.346 3-3 3zm0-8C6.141 3 3 6.141 3 10s3.141 7 7 7 7-3.141 7-7-3.141-7-7-7zm0 12c-3.859 0-7-3.141-7-7s3.141-7 7-7 7 3.141 7 7-3.141 7-7 7z"
                    clip-rule="evenodd"/>
            </svg>
          </button>
        </span>
              <div
                *ngIf="loginForm.controls['hashed_password'].invalid && (loginForm.controls['hashed_password'].dirty || loginForm.controls['hashed_password'].touched)"
                class="text-red-500 text-sm mt-1">
                <div *ngIf="loginForm.controls['hashed_password'].errors?.['required']">Password is required.</div>
                <div *ngIf="loginForm.controls['hashed_password'].errors?.['minlength']">Password must be at least 6
                  characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox"
                     class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
              <label for="remember-me" class="ml-3 block text-sm leading-6 text-gray-700">Remember me</label>
            </div>
          </div>
          <div>
            <button type="submit" [disabled]="loginForm.invalid"
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-gray-400 disabled:cursor-not-allowed">
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img class="absolute inset-0 h-full w-full object-cover"
         src="https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80"
         alt="">
  </div>
</div>
