<div class="space-y-2">

    <div>
        <nz-alert
                [nzAction]="actionTemplate1"
                nzType="info" nzMessage="Download Example File"></nz-alert>
        <ng-template #actionTemplate1>
            <a [href]="getFullApiUrl()" download class="text-blue-600 hover:underline">DoWNLOAD</a>
        </ng-template
        >
    </div>
    <div>
        <nz-upload
                [(nzFileList)]="fileList"
                [nzBeforeUpload]="beforeUpload"
        >
            <button nz-button>
                <span nz-icon nzType="upload"></span>
                Select Excel File
            </button>
        </nz-upload>
        <p class="ant-upload-hint">
            Support for a single Excel file upload only. File size should be less than 2MB.
        </p>
    </div>
</div>
