
<nz-table #categoryTable [nzData]="filteredData" [nzPageSize]="10">
  <thead>
  <tr>
    <th></th>
    <th nzShowFilter [nzFilters]="listOfFilter" (nzFilterChange)="onFilterChange($event, 'category')">
      Category
    </th>
    <th>NbEmployees</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-category [ngForOf]="categoryTable.data">
    <tr>
      <td [(nzExpand)]="category.expand">
        <i nz-icon [nzType]="category.expand ? 'minus-square' : 'plus-square'" class="expand-icon" (click)="category.expand = !category.expand"></i>
      </td>
      <td>{{ category.category }}</td>
      <td>{{ category.nbEmployees }}</td>
    </tr>
    <tr *ngIf="category.expand">
      <td colspan="3">
        <nz-table #departmentTable [nzData]="category.departments" nzSize="middle" [nzShowPagination]="false">
          <thead>
          <tr>
            <th></th>
            <th>Department
              <nz-filter-trigger [(nzVisible)]="visibleDept" [nzActive]="departmentSearchValue.length > 0" [nzDropdownMenu]="menu">
                <span nz-icon nzType="search"></span>
              </nz-filter-trigger>
            </th>
            <th>NbEmployees</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let department of departmentTable.data">
            <tr>
              <td [(nzExpand)]="department.expand">
                <i nz-icon [nzType]="department.expand ? 'minus-square' : 'plus-square'" class="expand-icon" (click)="department.expand = !department.expand"></i>
              </td>
              <td>{{ department.department }}</td>
              <td>{{ department.nbEmployees }}</td>
              <!-- Example dropdown menu with Tailwind CSS -->

            </tr>
            <tr *ngIf="department.expand">
              <td colspan="4">
                <nz-table #jobTable [nzData]="department.jobs" nzSize="small" [nzShowPagination]="false">
                  <thead>
                  <tr>
                    <th>Jobs
                      <nz-filter-trigger [(nzVisible)]="visibleJob" [nzActive]="jobSearchValue.length > 0" [nzDropdownMenu]="menujob">
                        <span nz-icon nzType="search"></span>
                      </nz-filter-trigger>
                    </th>
                    <th>NbEmployees</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let job of jobTable.data">
                    <td>{{ job.job }}</td>
                    <td>{{ job.nbEmployees }}</td>
                  </tr>
                  </tbody>
                </nz-table>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </nz-table>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="Search name" [(ngModel)]="departmentSearchValue" (keyup.enter)="search('dept')" />
              <button nz-button nzSize="small" nzType="primary" (click)="search('dept')">Search</button>
              <button nz-button nzSize="small" (click)="reset('dept')">Reset</button>
            </div>
          </div>
        </nz-dropdown-menu>

        <nz-dropdown-menu #menujob="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="Search name" [(ngModel)]="jobSearchValue" (keyup.enter)="search('job')" />
              <button nz-button nzSize="small" nzType="primary" (click)="search('job')">Search</button>
              <button nz-button nzSize="small" (click)="reset('dept')">Reset</button>
            </div>
          </div>
        </nz-dropdown-menu>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
