    <nz-tabset
            nzTabPosition="left">
        <nz-tab nzTitle="General">
            <ng-template nz-tab>
                <app-general/>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Notification">
            <ng-template nz-tab>
                <app-notification-preferences/>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Exportation">
            <ng-template nz-tab>
                <app-exportation/>
            </ng-template>
        </nz-tab>
        <nz-tab
                nzTitle="Outlook">Comming Son
        </nz-tab>
    </nz-tabset>
