<div class="">
  <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 1"
          [nzPreview]="handlePreview"
          (nzChange)="handleChange($event.fileList)"
  >
    <div>
      <span>+</span>
      <div style="margin-top: 8px">Upload</div>
    </div>
  </nz-upload>
  <nz-modal
          [nzVisible]="previewVisible"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
  >
    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
  </nz-modal>
</div>
