<nz-table #headerTable [nzData]="listOfData" [nzPageSize]="50" [nzScroll]="{ y: '455px' }">
  <thead>
  <tr>
    <th>Name</th>
    <th>Specialty</th>
    <th>ID</th>
  </tr>
  </thead>
  <tbody>
  <tr
    (click)="open()"
    *ngFor="let data of headerTable.data">
    <td>{{ data.name }}</td>
    <td>{{ data.specialty }}</td>
    <td>{{ data.id }}</td>
  </tr>
  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="visible"
    nzPlacement="right"
    nzTitle="Basic Drawer"
    (nzOnClose)="close()"
  >
    <ng-container *nzDrawerContent>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
    </ng-container>
  </nz-drawer>
  </tbody>
</nz-table>
