<!-- Chart widget -->
<div class="flex flex-col col-span-full xl:col-span-8 bg-white  rounded-sm border border-gray-200">
    <header class="flex flex-row justify-between px-5 py-4 border-b border-gray-100  items-center">
        <h2 *ngIf="selectedOption === 'department'; else monthView" class="font-semibold text-gray-800">
            Medical Certificates per Department
        </h2>

        <ng-template #monthView>
            <h2 class="font-semibold text-gray-800">Medical Certificates per Month</h2>
        </ng-template>

        <div class="flex flex-row space-x-2">
            <nz-select nzShowSearch nzPlaceHolder="Select a person"
                       (ngModelChange)="onOptionChange($event)"
                       [(ngModel)]="selectedOption">
                <nz-option *ngFor="let option of options" [nzLabel]="option" [nzValue]="option"></nz-option>
            </nz-select>
            <nz-date-picker
                    *ngIf="selectedOption === 'department'"
                    nzMode="month"
                    (ngModelChange)="onMonthChange($event)"
                    [nzFormat]="monthFormat"
                    [(ngModel)]="selectedMonth">
            </nz-date-picker>
            <nz-date-picker
                    [(ngModel)]="selectedMonth"
                    *ngIf="selectedOption === 'Month'"
                    (ngModelChange)="onYearChange($event)"
                    nzMode="year"></nz-date-picker>
            <br/>
        </div>
    </header>
    <div class="px-5 py-1">
        <div class="flex flex-wrap">
            <!-- Unique Visitors -->
            <div class="flex items-center py-2">
                <div class="mr-5">
                    <div class="flex items-center">
                        <div class="text-3xl font-bold text-gray-800 mr-2">{{certificateTotolData?.total_certificates_nbr}}</div>
                    </div>
                    <div class="text-sm text-gray-500">Total Certificates Nbr</div>
                </div>
                <div class="hidden md:block w-px h-8 bg-gray-200 mr-5" aria-hidden="true"></div>
            </div>
            <!-- Total Pageviews -->
            <div class="flex items-center py-2">
                <div class="mr-5">
                    <div class="flex items-center">
                        <div class="text-3xl font-bold text-gray-800 mr-2">{{certificateTotolData?.total_average_illness_days}}</div>
                    </div>
                    <div class="text-sm text-gray-500">Total Average illness Nbr</div>
                </div>
                <div class="hidden md:block w-px h-8 bg-gray-200 mr-5" aria-hidden="true"></div>
            </div>
            <!-- Bounce Rate -->
            <div class="flex items-center py-2">
                <div class="mr-5">
                    <div class="flex items-center">
                        <div class="text-3xl font-bold text-gray-800 mr-2">{{certificateTotolData?.total_certificate_rate}}
                            %
                        </div>
                    </div>
                    <div class="text-sm text-gray-500">Total Certificate Rate</div>
                </div>
                <div class="hidden md:block w-px h-8 bg-gray-200 mr-5" aria-hidden="true"></div>
            </div>
            <!-- Visit Duration-->
            <div class="flex items-center">
                <div>
                    <div class="flex items-center">
                        <div class="text-3xl font-bold text-gray-800 mr-2">{{certificateTotolData?.total_illness_todays_nbr}}</div>
                    </div>
                    <div class="text-sm text-gray-500">Total illness days Nbr</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Chart built with Chart.js 3 -->
    <div class="flex-grow">
        <div *ngIf="selectedOption === 'department'">
            <app-department
                    (certificateTotolDataChange)="onCertificateTotolDataChange($event)"></app-department>
        </div>
        <div *ngIf="selectedOption === 'Month'">
            <app-months
                    (certificateTotolDataChange)="onCertificateTotolDataChange($event)"
            ></app-months>
        </div>
        <div *ngIf="selectedOption === 'sexe'">
            <app-sexe></app-sexe>
        </div>
    </div>
</div>


