
<div class="container pt-6 mx-auto">
  <div class="flex flex-wrap">
    <div class="md:w-2/5 w-full pb-6 md:pb-0 md:pr-6">

      <div class="rounded border-gray-300 dark:border-gray-700 border-dashed border-2 ">
        <table class="min-w-full bg-white border border-gray-200">
          <thead>
          <tr>
            <th class="py-2 px-4 border-b border-gray-200 text-left">Number of Certificates</th>
            <th class="py-2 px-4 border-b border-gray-200 text-left">Total Illness Days</th>
            <th class="py-2 px-4 border-b border-gray-200 text-left">Average Illness Days</th>
            <th class="py-2 px-4 border-b border-gray-200 text-left">Number of Days Absent</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="data && data.length > 0">
            <td class="py-2 px-4 border-b border-gray-200">{{ data[0].certificates_nbr }}</td>
            <td class="py-2 px-4 border-b border-gray-200">{{ data[0].illness_days_nbr }}</td>
            <td class="py-2 px-4 border-b border-gray-200">{{ data[0].average_illness_days }}</td>
            <td class="py-2 px-4 border-b border-gray-200">{{ data[0].nb_day_abs }}</td>
          </tr>
          <tr *ngIf="!data || data.length === 0">
            <td class="py-2 px-4 border-b border-gray-200 text-center" colspan="4">No data available</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="md:w-3/5 w-full">

      <div class="rounded border-gray-300 dark:border-gray-700 border-dashed border-2 ">
        <canvas #doughnutCanvas></canvas>

      </div>
    </div>
  </div>
</div>
