<div class="flex flex-col gap-32 items-center justify-center relative">
  <div
    class="w-full flex flex-row  items-start  justify-around"
  >
    <div
      class="flex flex-col gap-2.5 items-start justify-start shrink-0  relative"
    >
      <div
        class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
        >
          Date
        </div>
        <div
          class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
        >
          {{item?.date}}
        </div>
      </div>
      <div
        class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
      ></div>
    </div>
    <div
      class="flex flex-col gap-2.5 items-start justify-start shrink-0  relative"
    >
      <div
        class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
        >
          Date début
        </div>
        <div
          class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
        >
          {{item?.date_start}}
        </div>
      </div>
      <div
        class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
      ></div>
    </div>
    <div
      class="flex flex-col gap-2.5 items-start justify-start shrink-0  relative"
    >
      <div
        class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
        >
          Date fin
        </div>
        <div
          class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
        >
          {{item?.date_end}}
        </div>
      </div>
      <div
        class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
      ></div>
    </div>
  </div>
  <div
    class="flex flex-row w-full items-start justify-around  absolute "
  >
    <div
      class="flex flex-col gap-2.5 items-start justify-start shrink-0  relative"
    >
      <div
        class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
        >
          Nbr prevu
        </div>
        <div
          class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
        >
          {{item?.nbr_expected}}
        </div>
      </div>
      <div
        class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
      ></div>
    </div>
    <div
      class="flex flex-col gap-2.5 items-start justify-start shrink-0  relative"
    >
      <div
        class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
        >
          Nb jour
        </div>
        <div
          class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
        >
          {{item?.nbr_days}}
        </div>
      </div>
      <div
        class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
      ></div>
    </div>
    <div
      class="flex flex-col gap-2.5 items-start justify-start shrink-0  relative"
    >
      <div
        class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
        >
          Ecart
        </div>
        <div
          class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
        >
          {{item?.nbr_gap}}
        </div>
      </div>
      <div
        class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
      ></div>
    </div>
  </div>
  <div
    class="flex flex-row w-full items-start justify-around shrink-0  relative"
  >
    <div
      class="flex flex-col gap-2.5 items-start justify-start shrink-0  relative"
    >
      <div
        class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
        >
          Médecine
        </div>
        <div
          class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
        >
          {{item?.doctor_name}}
        </div>
      </div>
      <div
        class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
      ></div>
    </div>
    <div
      class="flex flex-col gap-2.5 items-start justify-start shrink-0  relative"
    >
      <div
        class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
        >
          Specialite
        </div>
        <div
          class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
        >
          brooklyn_simmons
        </div>
      </div>
      <div
        class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
      ></div>
    </div>
    <div
      class="flex flex-col gap-2.5 items-start justify-start shrink-0  relative"
    >
      <div
        class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
      >
        <div
          class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
        >
          Validation
        </div>
        <div
          class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
        >
          {{item?.validation}}
        </div>
      </div>
      <div
        class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
      ></div>
    </div>
  </div>
</div>
