<div class="w-full ">
  <div class=" flow-root w-full">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Date</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date début</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date fin</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Nb jour</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date Entre</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Validation</th>
          </tr>
          </thead>
          <tbody
            class="divide-y divide-gray-200">
          <tr
            (click)="showModal()"
          >
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">27/03/2024</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">01/04/2024</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">10/04/2024</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">10</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">25/03/2024</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">ITT DE 2 JRS</td>
          </tr>
          <nz-modal
            [(nzVisible)]="isVisible"
            class="w-full"
            nzTitle="certification Title"
            nzWidth="80%"
            [nzOkLoading]="isOkLoading"
            [nzFooter]="modalFooterTemplate"
            (nzOnCancel)="handleCancel()"
          >
            <div class="w-full" *nzModalContent>
              <app-show-certification></app-show-certification>
            </div>
          </nz-modal>

          <ng-template #modalFooterTemplate>
              <button nz-button nzType="default" (click)="handleCancel()">Custom Cancel</button>
              <button nz-button nzType="primary" [nzLoading]="isOkLoading" (click)="handleOk()">Custom OK</button>
          </ng-template>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





