<div class="w-full ">
    <div class=" flow-root w-full">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="mx-auto container bg-white dark:bg-gray-800 shadow rounded">
                    <div class="flex flex-col md:flex-row p-3 justify-between items-start md:items-stretch w-full">
                        <div class="w-full md:w-1/3 flex flex-col md:flex-row items-start justify-between md:items-center">
                            <div class="flex items-center">
                                <a
                                        (click)="Ondelete()"
                                        class="p-2 border-gray-200 text-gray-600 dark:text-gray-400 border rounded focus:outline-none focus:border-gray-800 focus:shadow-outline-gray">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="icon cursor-pointer icon-tabler icon-tabler-trash"
                                         width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <line x1="4" y1="7" x2="20" y2="7"/>
                                        <line x1="10" y1="11" x2="10" y2="17"/>
                                        <line x1="14" y1="11" x2="14" y2="17"/>
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                                    </svg>
                                </a>
                                <ng-template #notificationBtnTpl let-notification>
                                    <button nz-button nzType="primary" nzSize="small" (click)="ConfumeDelte()">Confirm
                                    </button>
                                </ng-template>
                                <a
                                        (click)="loadDoctorData()"
                                        class="text-gray-600 p-2 ml-2 border-gray-200 dark:text-gray-400 border rounded focus:outline-none focus:border-gray-800 focus:shadow-outline-gray">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload"
                                         width="20"
                                         height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                         fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"/>
                                        <polyline points="7 9 12 4 17 9"/>
                                        <line x1="12" y1="4" x2="12" y2="16"/>
                                    </svg>
                                </a>
                                <nz-modal
                                        nzWidth="70%"
                                        [(nzVisible)]="isVisibleUpdate" nzTitle="The first Modal"
                                        (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                                    <ng-container *nzModalContent>

                                        <div *ngIf="indexCechkbox !== null && indexCechkbox !== undefined && certificates?.items">
                                            <app-update-certification
                                                    [certification]="certificates!.items[indexCechkbox]"
                                            />
                                        </div>
                                    </ng-container>
                                </nz-modal>
                                <a
                                        (click)="open()"
                                        class="text-gray-600 p-2 ml-2 border-gray-200 dark:text-gray-400 border rounded focus:outline-none focus:border-gray-800 focus:shadow-outline-gray">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z"/>
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z"/>
                                    </svg>

                                </a>
                                <nz-drawer
                                        nzWidth="65%"
                                        [nzClosable]="false"
                                        [nzVisible]="visible"
                                        nzPlacement="right"
                                        nzTitle="Analyse {{userId}}  {{date.getFullYear()}}"
                                        (nzOnClose)="close()"
                                >
                                    <ng-container *nzDrawerContent>
                                        <app-show-certification
                                                [date]="date"
                                                [employee_id]="userId"
                                        />
                                    </ng-container>
                                </nz-drawer>
                            </div>
                        </div>
                        <nz-date-picker nzMode="year" [(ngModel)]="date"
                                        (ngModelChange)="onChange($event)"></nz-date-picker>
                    </div>
                </div>
                <div>
                    <div class="w-full overflow-x-scroll xl:overflow-x-hidden h-[450px] overflow-y-scroll">
                        <table class="min-w-full bg-white dark:bg-gray-800 rounded border border-gray-300 "
                               id="main-table">
                            <thead>
                            <tr class="w-full bg-gray-100 dark:bg-gray-700 border-b border-gray-300">
                                <th class="pl-3 w-24 py-3">
                                    <div class="flex items-center">
                                        <input type="checkbox" id="checkAll"
                                               class="cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white outline-none"/>
                                        <div class="opacity-0 cursor-defaut ml-4 text-gray-800 dark:text-gray-100">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="icon icon-tabler icon-tabler-chevron-up"
                                                 width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5"
                                                 stroke="currentColor"
                                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z"/>
                                                <polyline points="6 15 12 9 18 15"/>
                                            </svg>
                                        </div>
                                    </div>
                                </th>
                                <th class="whitespace-no-wrap w-32 first-dropdown cursor-pointer">
                                    <div class="flex items-center justify-between relative chuss-div">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            Date</p>
                                    </div>
                                </th>
                                <th class="border-l border-gray-300 pl-4 whitespace-no-wrap w-32 first-dropdown cursor-pointer"
                                >
                                    <div class="flex items-center justify-between relative">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            Date début</p>
                                    </div>
                                </th>
                                <th class="border-l border-gray-300 pl-4 whitespace-no-wrap w-32 first-dropdown cursor-pointer"
                                >
                                    <div class="flex items-center justify-between relative">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            Date fin</p>
                                    </div>
                                </th>
                                <th class="border-l border-gray-300 pl-4 whitespace-no-wrap w-32 first-dropdown cursor-pointer"
                                >
                                    <div class="flex items-center justify-between relative">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            Nb jour</p>
                                    </div>
                                </th>
                                <th class="border-l border-gray-300 pl-4 whitespace-no-wrap w-32 first-dropdown cursor-pointer"
                                >
                                    <div class="flex items-center justify-between relative">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            Date Entre
                                        </p>
                                    </div>
                                </th>
                                <th class="border-l border-gray-300 pl-4 whitespace-no-wrap w-32 first-dropdown cursor-pointer"
                                >
                                    <div class="flex items-center justify-between relative">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            Validation</p>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let item of certificates?.items; let i = index">

                                <tr

                                        [ngClass]="selectedValues.includes(item.id) ? 'border-b bg-gray-100 border-gray-300' : 'border-b border-gray-300 bg-white'">
                                    <td class="pl-3 w-24 py-3">
                                        <div class="flex items-center">
                                            <input type="checkbox"
                                                   class="cursor-pointer relative w-5 h-5 border rounded border-gray-400 bg-white outline-none"
                                                   (click)="onChanegCheckBox(i)"/>
                                            <a (click)="show_row===i ? (show_row=i):(show_row=i)"
                                               class="focus:outline-none cursor-pointer text-gray-800 dark:text-gray-100 ml-2 lg:ml-4 mr-2 sm:mr-0 border border-transparent rounded focus:outline-none"
                                            >
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon icon-tabler icon-tabler-chevron-down" width="16"
                                                     height="16"
                                                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                     fill="none"
                                                     stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="whitespace-no-wrap w-32">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            {{item.date}}</p>
                                    </td>
                                    <td class="pl-4 whitespace-no-wrap w-32">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            {{item.date_start}}</p>
                                    </td>
                                    <td class="pl-4 whitespace-no-wrap w-32">
                                        <div class="bg-blue-200 h-6 w-20 rounded-md flex items-center justify-center">
                                            <span class="text-xs text-blue-500 font-normal">{{item.date_end}}</span>
                                        </div>
                                    </td>
                                    <td class="pl-4 whitespace-no-wrap w-32">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            {{item.nbr_days}}</p>
                                    </td>
                                    <td class="pl-4 whitespace-no-wrap w-32">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            {{item.date_entry}}</p>
                                    </td>

                                    <td class="pl-4 whitespace-no-wrap w-32">
                                        <p
                                                class="text-gray-800 dark:text-gray-100 font-normal text-left text-xs tracking-normal leading-4">
                                            {{item.validation}}</p>
                                    </td>
                                </tr>
                                <tr *ngIf="show_row===i" class="detail-row">
                                    <td colspan="9">
                                        <div class="flex items-stretch w-full border-b border-gray-300 dark:border-gray-200">

                                            <div class="w-full bg-white border-l border-gray-300 dark:bg-gray-800">
                                                <h4
                                                        class="pl-10 w-full text-sm text-gray-800 dark:text-gray-100 py-3 bg-gray-100 dark:bg-gray-700">
                                                    CERTIFICATION DETAILS</h4>
                                                <div class="bg-white dark:bg-gray-800 px-8 py-6">
                                                    <div class="flex items-start">
                                                        <div class="w-1/3">
                                                            <p class="text-gray-600 dark:text-gray-400 font-normal text-xs">
                                                                ID
                                                                CERTIFICATION</p>
                                                            <h5 class="text-gray-800 dark:text-gray-100 font-normal text-xs">{{item.id}}
                                                            </h5>
                                                        </div>
                                                        <div class="w-1/3">
                                                            <p class="text-gray-600 dark:text-gray-400 font-normal text-xs">
                                                                DOCTORE
                                                                NAME</p>
                                                            <h5 class="text-gray-800 dark:text-gray-100 font-normal text-xs">{{item.doctor_name}}
                                                            </h5>
                                                        </div>
                                                        <div class="w-1/3">
                                                            <p class="text-gray-600 dark:text-gray-400 font-normal text-xs">
                                                                SPECIALITY
                                                                NAME
                                                            </p>
                                                            <h5
                                                                    class="text-gray-800 dark:text-gray-100 font-normal text-xs">{{item.doctor_speciality}}</h5>
                                                        </div>
                                                    </div>
                                                    <div class="flex items-start mt-6">
                                                        <div class="w-1/3">
                                                            <p class="text-gray-600 dark:text-gray-400 font-normal text-xs">
                                                                DATE
                                                                PLANAED</p>
                                                            <h5 class="text-gray-800 dark:text-gray-100 font-normal text-xs">{{item.date_planned}}
                                                            </h5>
                                                        </div>
                                                        <div class="w-1/3">
                                                            <p class="text-gray-600 dark:text-gray-400 font-normal text-xs">
                                                                NB
                                                                EXECTED </p>
                                                            <h5
                                                                    class="text-gray-800 dark:text-gray-100 font-normal text-xs">{{item.nbr_expected}}</h5>
                                                        </div>
                                                        <div class="w-1/3">
                                                            <p class="text-gray-600 dark:text-gray-400 font-normal text-xs">
                                                                NB GAP
                                                            </p>
                                                            <h5 class="text-indigo-700 font-normal text-xs">{{item.nbr_gap}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <hr class="my-6 border-t border-gray-300 w-full"/>
                                                    <h5 class="text-indigo-700 text-xs mb-2 mt-12 font-bold">
                                                        Documents</h5>
                                                    <div *ngIf="!item.images; else imagesTemplate">
                                                        <p>No document</p>
                                                    </div>
                                                    <ng-template #imagesTemplate>
                                                        <ul *ngIf="item.images && item.images.length" role="list"
                                                            class="divide-y divide-gray-100 rounded-md border border-gray-200">
                                                            <li *ngFor="let image of item.images; let i = index"
                                                                class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                                                <div class="flex w-0 flex-1 items-center">
                                                                    <svg class="h-5 w-5 flex-shrink-0 text-gray-400"
                                                                         viewBox="0 0 20 20"
                                                                         fill="currentColor"
                                                                         aria-hidden="true">
                                                                        <path fill-rule="evenodd"
                                                                              d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                                                                              clip-rule="evenodd"/>
                                                                    </svg>
                                                                    <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                                                        <span class="truncate font-medium">{{ getFileName(image) }}</span>
                                                                        <span class="flex-shrink-0 text-gray-400">{{ getFileSize(image) }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="ml-4 flex-shrink-0">
                                                                    <a (click)="downloadFile(image)"
                                                                       class="font-medium text-indigo-600 hover:text-indigo-500"
                                                                       style="cursor: pointer;">Download</a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </ng-container>

                            </tbody>
                        </table>
                    </div>
                    <div class="w-full">
                        <app-pagination [currentPage]="currentPage"
                                        [totalPages]="certificates?.pages ?? 1"
                                        [size]="certificates?.size ?? 1" [total]="certificates?.total ?? 1"
                                        (pageChange)="onPageChange($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





