<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <button type="button"
                    (click)="createUser()"
                    nz-button nzType="primary">
                Add user
            </button>
        </div>
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                    <tr>
                        <th scope="col"
                            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">
                            Employee ID
                        </th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">ID</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Is Active</th>
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                    <tr *ngFor="let user of users.items">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{ user.employee.id }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.id }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                            <nz-switch
                                    (ngModelChange)="setChnageUser(user, $event)"
                                    [nzCheckedChildren]="checkedTemplate"
                                    [nzUnCheckedChildren]="unCheckedTemplate"
                                    [(ngModel)]="user.is_active"
                                    [nzLoading]="is_loading"></nz-switch>
                            <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
                            <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
                        </td>
                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8">
                            <a class="text-indigo-600 hover:text-indigo-900">Edit<span
                                    class="sr-only">, {{ user.id }}</span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <nz-modal [(nzVisible)]="isVisible"
                  nzTitle="The first Modal"
                  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <ng-container *nzModalContent>
                <app-manager-select
                        [(ngModel)]="select_user"
                ></app-manager-select>
                <div class="mb-4 mt-4">
                    <!--Label for Email-->
                    <label for="email" class="block text-sm font-medium text-gray-700 mb-2">Email</label>
                    <!--Input for Email-->
                    <nz-input-group
                            id="email"
                            nzAddOnAfter="@aptiv.com"
                            class="w-full"
                    >
                        <input type="text" nz-input [(ngModel)]="email"/>
                    </nz-input-group>
                </div>
            </ng-container>

        </nz-modal>
    </div>
</div>
