<div class="h-[70vh] overflow-hidden space-y-2">
    <div class="flex items-end justify-end">
        <app-select-date
                (dateAndModeChange)="selectedDate($event)"
        />
    </div>
    <div class="overflow-y-auto h-full">

        <table class="min-w-full bg-white" *ngIf="!isLoading">
            <thead class="sticky top-0 bg-gray-100">
            <tr>
                <th class="py-2 px-4 border-b border-gray-200">Employee Name</th>
                <th class="py-2 px-4 border-b border-gray-200">Department</th>
                <th class="py-2 px-4 border-b border-gray-200">Shift</th>
                <th class="py-2 px-4 border-b border-gray-200">Incident Date & Time</th>
                <th class="py-2 px-4 border-b border-gray-200">Location</th>
                <th class="py-2 px-4 border-b border-gray-200">Work Station</th>
                <th class="py-2 px-4 border-b border-gray-200">Incident Type</th>
                <th class="py-2 px-4 border-b border-gray-200">Body Parts Affected</th>
                <th class="py-2 px-4 border-b border-gray-200">Visited</th>
                <th class="py-2 px-4 border-b border-gray-200">Transfer to Hospital</th>
                <th class="py-2 px-4 border-b border-gray-200">Days of Absence</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of injuries.items"
            >
                <td class="py-2 px-4 border-b border-gray-200">{{ item.employee.full_name }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.employee.department.name }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.shift }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.incident_datetime | date:'yyyy-MM-dd HH:mm' }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.location_of_incident }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.work_station }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.type_of_incident }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.body_parts_affected }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.is_visited ? 'Yes' : 'No' }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.transfer_to_hospital ? 'Yes' : 'No' }}</td>
                <td class="py-2 px-4 border-b border-gray-200">{{ item.number_of_days_of_absence }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
