<div class="w-full">
  <p class="text-sm text-left font-medium leading-none text-gray-800 mb-3">
    Manager Name
  </p>
  <div class="flex w-full justify-start items-center">

    <app-manager-select
      [ngModel]="filterService.filterEmployee.manger_ids"
      (managerSelected)="onManagerSelected($event)"
    ></app-manager-select>

  </div>
</div>
<div class="mt-8 w-full">
  <label class="text-sm text-left font-medium leading-none text-gray-800">DEPARTMENTS</label>
  <nz-select
    [nzMaxTagCount]="3"
    nzMode="multiple"
    class="w-full"
    nzPlaceHolder="Please select"
    [(ngModel)]="filterService.filterEmployee.department_ids"
    (ngModelChange)="onJobUploading($event)"
  >
    <nz-option *ngFor="let item of listOfOptionDeps" [nzLabel]="item.department" [nzValue]="item"></nz-option>
  </nz-select>

</div>
<div class="mt-8 w-full">
  <label class="text-sm text-left font-medium leading-none text-gray-800">JOBS</label>
  <nz-select
    [nzMaxTagCount]="3"
    nzMode="multiple"
    class="w-full"
    nzPlaceHolder="Please select"
    [(ngModel)]="filterService.filterEmployee.job_ids"
  >
    <nz-option *ngFor="let item of listOfOptionJobs" [nzLabel]="item.job" [nzValue]="item.nbEmployees"></nz-option>

  </nz-select>
</div>
<div class="mt-8">
  <label class="text-sm text-left font-medium leading-none text-gray-800">SENIORITY YEARS</label>
  <div class="flex items-center border border-slate-300 px-4 py-3 rounded mt-2">
    <button class="svg-container hover:bg-gray-100 cursor-pointer rounded-full" (click)="changeAmount(-1)">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M21 12C21 7.03125 16.9688 3 12 3C7.03125 3 3 7.03125 3 12C3 16.9688 7.03125 21 12 21C16.9688 21 21 16.9688 21 12Z"
          stroke="#475569" stroke-miterlimit="10"/>
        <path d="M15.75 12H8.25" stroke="#475569" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <div class="text-container w-full text-sm leading-none text-slate-600 flex justify-center">
      {{ filterService.filterEmployee.min_seniority_years }}
    </div>
    <button class="svg-container hover:bg-gray-100 cursor-pointer rounded-full" (click)="changeAmount(1)">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M21 12C21 7.03125 16.9688 3 12 3C7.03125 3 3 7.03125 3 12C3 16.9688 7.03125 21 12 21C16.9688 21 21 16.9688 21 12Z"
          stroke="#475569" stroke-miterlimit="10"/>
        <path d="M12 8.25V15.75" stroke="#475569" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15.75 12H8.25" stroke="#475569" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

</div>
<div class="mt-8">
  <label class="text-sm text-left font-medium leading-none text-gray-800">GENDER</label>
  <div class="dropdown-one border rounded border-gray-300 w-full rounded outline-none relative mt-2">
    <button
      class="dropbtn-one relative px-5 py-[12px] flex items-center justify-between w-full"
      (click)="showDropdownOne = !showDropdownOne"
    >
          <span class="pr-4 font-medium text-gray-600 text-sm" [(ngModel)]="filterService.filterEmployee.sex">
            {{ filterService.filterEmployee.sex || 'Select Gender' }}
          </span>
      <svg
        class="absolute right-5 z-10 cursor-pointer"
        width="10"
        height="6"
        viewBox="0 0 10 6"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.5 0.75L5 5.25L9.5 0.75"
          stroke="#4B5563"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div
      class="rounded w-full shadow border-t border-gray-200 px-1 py-2 absolute top-12 right-0 bg-white z-20"
      *ngIf="showDropdownOne"
    >
      <a (click)="selectGender('Male'); $event.preventDefault()">
        <p
          class="text-sm leading-none text-gray-600 p-3 hover:bg-indigo-100 hover:font-medium hover:text-indigo-700 hover:rounded cursor-pointer">
          Male
        </p>
      </a>
      <a (click)="selectGender('Female'); $event.preventDefault()">
        <p
          class="text-sm leading-none text-gray-600 p-3 hover:bg-indigo-100 hover:font-medium hover:text-indigo-700 hover:rounded cursor-pointer">
          Female
        </p>
      </a>
    </div>
  </div>
</div>


