<form [formGroup]="form" class="max-w-4xl mx-auto w-full space-y-6">
  <!-- Date Range Picker and NB Days -->
  <div class="flex w-full space-x-4">
    <div class="flex-1">
      <label class="block text-base font-medium leading-none text-gray-800">
        Date Range
      </label>
      <nz-range-picker
        formControlName="dateRange"
        (ngModelChange)="onRangeChange($event)"
        class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
      ></nz-range-picker>
      <p class="mt-2 text-xs leading-3 text-gray-600">
        NB Days to be displayed: {{ Duration }}
      </p>
    </div>
    <div>
      <label class="block text-base font-medium leading-none text-gray-800">
        NB DAYS
      </label>
      <input
        formControlName="nb_days"
        type="text"
        class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
        placeholder="Enter number of days"
      />
    </div>
  </div>

  <!-- Doctor Name and Specialty Fields -->
  <div class="flex w-full space-x-4">
    <div class="flex-1">
      <label class="block text-base font-medium leading-none text-gray-800">
        DOCTOR NAME
      </label>
      <input
        formControlName="doctor_name"
        type="text"
        class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
        placeholder="Enter doctor name"
        (input)="onInputDoctors($event)"
        [nzAutocomplete]="auto"
      />
      <nz-autocomplete [nzDataSource]="optionsDoctors" nzBackfill #auto></nz-autocomplete>
    </div>
    <div class="flex-1">
      <label class="block text-base font-medium leading-none text-gray-800">
        SPECIALTY
      </label>
      <input
        formControlName="doctor_specialty"
        type="text"
        class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
        placeholder="Enter specialty"
        (input)="onInputSpecialty($event)"
        [nzAutocomplete]="auto2"
      />
      <nz-autocomplete [nzDataSource]="optionsSpecialties" nzBackfill #auto2></nz-autocomplete>
    </div>
  </div>

  <!-- Validation Select -->
  <div class="flex w-full space-x-4">
    <div class="flex-1">
      <label class="block text-base font-medium leading-none text-gray-800">
        Validation
      </label>
      <nz-select
        nzBorderless
        formControlName="validation"
        class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
        nzShowSearch nzAllowClear nzPlaceHolder="Select validation status">
        <nz-option nzLabel="ITT DE {{nbDays}} JRS" nzValue="ITT"></nz-option>
        <nz-option nzLabel="VALID" nzValue="VALID"></nz-option>
        <nz-option nzLabel="VALID PAR HUISSIER DE JUSTICE" nzValue="VHJ"></nz-option>
        <nz-option nzLabel="VPO" nzValue="VPO"></nz-option>
      </nz-select>
    </div>
  </div>

  <!-- Is Visited Checkbox -->
  <div class="flex w-full space-x-4">
    <div class="flex-1">
      <label class="block text-base font-medium leading-none text-gray-800">
        Contre visite
      </label>
      <input
        formControlName="is_visited"
        type="checkbox"
        class="mt-2"
      />
    </div>
  </div>

  <!-- add certificate -->
  <app-uploading-file
    (fileListChange)="onFileListChange($event)"></app-uploading-file>


</form>
