<form [formGroup]="form"
       class="max-w-4xl mx-auto w-full space-y-6">

  <!-- Single Meta Title Field -->
  <div class="flex w-full space-x-4">
    <div class="flex-1">
      <label class="block text-base font-medium leading-none text-gray-800">
        Meta Title
      </label>
      <nz-range-picker
        formControlName="dateRange"
        (ngModelChange)="onRangeChange($event)"
        class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
      ></nz-range-picker>
      <p class="mt-2 text-xs leading-3 text-gray-600">
        NB Days to be displayed {{ Duration }}
      </p>
    </div>
    <div >
      <label class="block text-base font-medium leading-none text-gray-800">
        NB DAYS
      </label>
      <input
        formControlName="nb_days"
        type="text"
        class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
        placeholder="Enter a meta title"
      />

    </div>

  </div>

  <!-- Two Meta Title Fields Side by Side -->
  <div class="flex w-full space-x-4">
    <div class="flex-1">
      <label class="block text-base font-medium leading-none text-gray-800">
        DOCTOR NAME
      </label>
      <input
        formControlName="doctor_name"
        type="text"
        class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
        placeholder="Enter a DOCTOR NAME"
        (input)="onInputDoctors($event)"
        [nzAutocomplete]="auto"
      />
      <nz-autocomplete [nzDataSource]="optionsDoctors" nzBackfill #auto></nz-autocomplete>

    </div>
    <div class="flex-1">
      <label class="block text-base font-medium leading-none text-gray-800">
        SPECIALTY
      </label>
      <input
        formControlName="doctor_specialty"
        type="text"
        class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
        placeholder="Enter a meta title"
        (input)="onInputSpecialty($event)"
        [nzAutocomplete]="auto2"
      />
      <nz-autocomplete [nzDataSource]="optionsSpecialties" nzBackfill #auto2></nz-autocomplete>

    </div>
  </div>
  <div class="flex-1">
    <label class="block text-base font-medium leading-none text-gray-800">
      Meta Title
    </label>
    <nz-select
      nzBorderless
      formControlName="validation"
      class="w-full p-3 mt-2 border border-gray-300 rounded outline-none focus:bg-gray-50"
      nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
      <nz-option
        nzLabel="ITT" nzValue="ITT"></nz-option>
      <nz-option nzLabel="VALID" nzValue="VALID"></nz-option>
    </nz-select>

  </div>



</form>
