<nz-tabset class="w-full">
  <nz-tab nzTitle="Données personnelles">
    <div class="flex flex-col gap-5 items-start justify-start relative">
      <div class="flex flex-row gap-5 items-start justify-start  shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              First Name
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.first_name}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Last Name
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.last_name}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Mobile Number
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.phone_number}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Email Address
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              null
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Date of Birth
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.birth_date}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Marital Status
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              Married
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Gender
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.Sexe}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Nationality
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              Morrocan
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Address
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.region_name}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              City
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.city_name}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-[5px] items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
          >
            State
          </div>
          <div
            class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
          >
            United State
          </div>
        </div>
        <div
          class="flex flex-col gap-[5px] items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
          >
            Zip Code
          </div>
          <div
            class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
          >
            35624
          </div>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Données professionnelles">
    <div class="flex flex-col gap-5 items-start justify-start w-full">
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Matricule
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.id}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              User Name
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              null
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              Département
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.department_name}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Email Address
            </div>
            <div
              class="text-dark-500 text-left font-['Lexend-Light',_sans-serif] text-base leading-6 font-light relative self-stretch"
              style="text-decoration: underline"
            >
              {{employeeProfile?.first_name}}.{{employeeProfile?.last_name}}&#64;aptiv.com
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Catégorie
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.category}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Function
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.job_name}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Jours Ouvrables
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              5 Days
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Date de démarrage
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.date_start}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-start justify-start shrink-0 relative">
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              Date de embauche
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.date_hiring}}
            </div>
          </div>
          <div
            class="border-solid border-gray-gray-10percent border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          ></div>
        </div>
        <div
          class="flex flex-col gap-2.5 items-start justify-start shrink-0 w-[374px] relative"
        >
          <div
            class="flex flex-col gap-[5px] items-start justify-start self-stretch shrink-0 relative"
          >
            <div
              class="text-gray-500 text-left font-body-2-regular-font-family text-body-2-regular-font-size leading-body-2-regular-line-height font-body-2-regular-font-weight relative self-stretch"
            >
              date visit
            </div>
            <div
              class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative self-stretch"
            >
              {{employeeProfile?.date_visit}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </nz-tab>
</nz-tabset>
