<div class="overflow-x-auto">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Injury Records</h1>
        <div class="space-x-2">
            <button nz-button nzType="default" (click)="openFilter()">Filter</button>
            <button nz-button nzType="primary" (click)="createNew()">Create New</button>
        </div>
    </div>
    <!--Filter-->
    <nz-drawer
            [nzClosable]="false"
            [nzVisible]="visibleFilter"
            nzPlacement="right"
            nzTitle="Basic Drawer"
            [nzFooter]="footerTpl"
            (nzOnClose)="closeFilter()"
    >
        <ng-container *nzDrawerContent>
            <app-filter-injury/>
        </ng-container>
        <ng-template #footerTpl>
            <div style="float: right">
                <button nz-button style="margin-right: 8px;" (click)="closeFilter()">Cancel</button>
                <button nz-button nzType="primary" (click)="OnsubmetFilter()" [nzLoading]="isLoading">Submit</button>
            </div>
        </ng-template>
    </nz-drawer>
    <!--Create New-->
    <nz-drawer
            [(nzVisible)]="isVisible" nzTitle="The first Modal"
            [nzFooter]="drawerFooter">
        <ng-container *nzDrawerContent>
            <app-create-or-update/>
        </ng-container>
        <ng-template #drawerFooter>
            <div class="space-x-2" style="text-align: right;">
                <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
                <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="is_CreateOrUpdate">OK</button>
            </div>
        </ng-template>
    </nz-drawer>
    <!--Update-->
    <nz-drawer
            [(nzVisible)]="isUpdateMode"
            [nzTitle]="selectedInjuryItem ? 'Edit Injury Record' : 'Create Injury Record'"
            [nzFooter]="nzDrawerFooterUpdate"
            (nzOnClose)="closeDrawer()">
        <ng-container *nzDrawerContent>
            <app-create-or-update [isUpdateMode]="true" [existingData]="selectedInjuryItem"></app-create-or-update>
        </ng-container>
        <ng-template #nzDrawerFooterUpdate>
            <div class="space-x-2" style="text-align: right;">
                <button nz-button nzType="default" (click)="DeleteInjury()" [nzLoading]="is_CreateOrUpdate" nzDanger>
                    DELETE
                </button>
                <button nz-button nzType="primary" (click)="handleOk_update()" [nzLoading]="is_CreateOrUpdate">OK
                </button>
            </div>
        </ng-template>
    </nz-drawer>
    <nz-spin
            class="flex items-center justify-center"
            nzSimple *ngIf="isLoading"></nz-spin>
    <div class="h-[70vh] overflow-hidden">
        <div class="overflow-y-auto h-full">
            <table class="min-w-full bg-white" *ngIf="!isLoading">
                <thead class="sticky top-0 bg-gray-100">
                <tr>
                    <th class="py-2 px-4 border-b border-gray-200">Employee Name</th>
                    <th class="py-2 px-4 border-b border-gray-200">Department</th>
                    <th class="py-2 px-4 border-b border-gray-200">Shift</th>
                    <th class="py-2 px-4 border-b border-gray-200">Incident Date & Time</th>
                    <th class="py-2 px-4 border-b border-gray-200">Location</th>
                    <th class="py-2 px-4 border-b border-gray-200">Work Station</th>
                    <th class="py-2 px-4 border-b border-gray-200">Incident Type</th>
                    <th class="py-2 px-4 border-b border-gray-200">Body Parts Affected</th>
                    <th class="py-2 px-4 border-b border-gray-200">Visited</th>
                    <th class="py-2 px-4 border-b border-gray-200">Transfer to Hospital</th>
                    <th class="py-2 px-4 border-b border-gray-200">Days of Absence</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of injuryItems.items"
                    (click)="openDrawerUpdate(item)"
                >
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.employee.full_name }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.employee.department.name }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.shift }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.incident_datetime | date:'yyyy-MM-dd HH:mm' }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.location_of_incident }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.work_station }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.type_of_incident }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.body_parts_affected }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.is_visited ? 'Yes' : 'No' }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.transfer_to_hospital ? 'Yes' : 'No' }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ item.number_of_days_of_absence }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
