<div class="flex flex-row space-x-4 items-center justify-center">
  <div
    class="rounded-xl p-10 border-solid border-gray-gray-20percent border shrink-0 grid grid-cols-2 gap-6 1/2 max-w-6xl">
    <!-- Tile 1 -->
    <div class="flex items-center p-4 bg-white rounded">
      <div class="flex flex-shrink-0 items-center justify-center bg-green-200 h-16 w-16 rounded">
        <svg class="w-6 h-6 fill-current text-green-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
             fill="currentColor">
          <path fill-rule="evenodd"
                d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
                clip-rule="evenodd"/>
        </svg>
      </div>
      <div class="flex-grow flex flex-col ml-4">
        <span class="text-xl font-bold">567</span>
        <div class="flex items-center justify-between">
          <span class="text-gray-500">Total des Employés </span>
          <span class="text-green-500 text-sm font-semibold ml-2">+12.6%</span>
        </div>
      </div>
    </div>

    <!-- Tile 2 -->
    <div class="flex items-center p-4 bg-white rounded">
      <div class="flex flex-shrink-0 items-center justify-center bg-red-200 h-16 w-16 rounded">
        <svg class="w-6 h-6 fill-current text-red-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
             fill="currentColor">
          <path fill-rule="evenodd"
                d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z"
                clip-rule="evenodd"/>
        </svg>
      </div>
      <div class="flex-grow flex flex-col ml-4">
        <span class="text-xl font-bold">211</span>
        <div class="flex items-center justify-between">
          <span class="text-gray-500">Soins</span>
          <span class="text-red-500 text-sm font-semibold ml-2">-8.1%</span>
        </div>
      </div>
    </div>

    <!-- Tile 3 -->
    <div class="flex items-center p-4 bg-white rounded">
      <div class="flex flex-shrink-0 items-center justify-center bg-green-200 h-16 w-16 rounded">
        <svg class="w-6 h-6 fill-current text-green-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
             fill="currentColor">
          <path fill-rule="evenodd"
                d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
                clip-rule="evenodd"/>
        </svg>
      </div>
      <div class="flex-grow flex flex-col ml-4">
        <span class="text-xl font-bold">140</span>
        <div class="flex items-center justify-between">
          <span class="text-gray-500">Certification</span>
          <span class="text-green-500 text-sm font-semibold ml-2">+28.4%</span>
        </div>
      </div>
    </div>

    <!-- Tile 4 -->
    <div class="flex items-center p-4 bg-white rounded">
      <div class="flex flex-shrink-0 items-center justify-center bg-green-200 h-16 w-16 rounded">
        <svg class="w-6 h-6 fill-current text-green-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
             fill="currentColor">
          <path fill-rule="evenodd"
                d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
                clip-rule="evenodd"/>
        </svg>
      </div>
      <div class="flex-grow flex flex-col ml-4">
        <span class="text-xl font-bold">140</span>
        <div class="flex items-center justify-between">
          <span class="text-gray-500">accidents</span>
          <span class="text-green-500 text-sm font-semibold ml-2">+28.4%</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2  ">
    <app-contres-visites-pie />
  </div>
</div>
<div class="w-full">
  <app-lbar-line-chart/>
</div>
<div class="w-full rounded-xl p-8 border-solid border-gray-gray-20percent border shrink-0 relative ">
  <div class=" flow-root w-full">
    <h1 class="text-dark-500 text-left header-4-bold-font-family header-4-bold-font-size header-4-bold-line-height header-4-bold-font-weight relative flex-1">
      Attendance Overview
    </h1>
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Nom de
              l'Employé
            </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Département</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Catégorie</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">Lindsay Walton</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Département</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Catégorie</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">20-01-2022</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">Lindsay Walton</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Département</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Catégorie</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">20-01-2022</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">Lindsay Walton</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Département</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Catégorie</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">20-01-2022</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">Lindsay Walton</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Département</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Catégorie</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">20-01-2022</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">Lindsay Walton</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Département</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Catégorie</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">20-01-2022</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">Lindsay Walton</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Département</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Catégorie</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">20-01-2022</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

