<div class="flex h-screen flex-col flex-grow">
  <div class="grid grid-cols-3 gap-6">

    <div class="col-span-2 bg-white border border-gray-300 ">
      <app-lbar-line-chart/>
    </div>
    <div class="col-span-1 bg-white border border-gray-300">
      <app-department-table/>
    </div>
    <div class="col-span-1 bg-white border border-gray-300">
      <app-category-table/>
    </div>
    <div class="col-span-2 bg-white border border-gray-300">
      <app-category/>
    </div>
    <div class="col-span-3 bg-white border border-gray-300">
      <app-certififcation-validation/>
    </div>

    <div class="col-span-3 bg-white border border-gray-300">
      <app-validation-hj/>
    </div>
    <div class="col-span-1 bg-white border border-gray-300">
      <app-table-gendre/>
    </div>
    <div class="col-span-2 bg-white border border-gray-300">
      <app-sexe/>
    </div>

    <div class="col-span-2 bg-white border border-gray-300">
      <app-week/>
    </div>
    <div class="col-span-1 bg-white border border-gray-300">
      <app-table-week/>
    </div>
    <div class="col-span-1 bg-white border border-gray-300">
      <app-categorize-employee-tab/>
    </div>
    <div class="col-span-2 bg-white border border-gray-300">
      <app-categorize-employee/>
    </div>
  </div>
</div>


