<div class="flex h-screen flex-col flex-grow">
    <div class="grid grid-cols-3 gap-6">
        <div class="h-24 col-span-1 bg-white border border-gray-300">1</div>
        <div class="h-24 col-span-1 bg-white border border-gray-300">2</div>
        <div class="h-24 col-span-1 bg-white border border-gray-300">3</div>
        <div class="col-span-2 bg-white border border-gray-300 ">
            <app-lbar-line-chart/>
        </div>
        <div class="h-24 col-span-1 bg-white border border-gray-300 ">
           5
        </div>
        <div class="h-24col-span-1 bg-white border border-gray-300"></div>
        <div class="col-span-2 bg-white border border-gray-300">
          <app-category />
        </div>
        <div class="col-span-3 bg-white border border-gray-300">
          <app-certififcation-validation />
        </div>
        <div class="h-24 col-span-1 bg-white border border-gray-300">
        </div>
        <div class="h-24 col-span-1 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-1 bg-white border border-gray-300">
        </div>
        <div class="col-span-3 bg-white border border-gray-300">
          <app-validation-hj />
        </div>
        <div class="h-24 col-span-1 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-2 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-3 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-1 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-1 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-1 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-2 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-1 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-1 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-2 bg-white border border-gray-300"></div>
        <div class="h-24 col-span-3 bg-white border border-gray-300"></div>
    </div>
</div>


