<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center justify-between">
        <div
                class="rounded-xl border-solid border-gray-gray-10percent border pt-[13px] pr-4 pb-[13px] pl-4 flex flex-col gap-2.5 items-start justify-center relative">
            <div class="flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative ">
                <svg class="shrink-0 w-6 h-6 relative overflow-visible" style="" width="24" height="24"
                     viewBox="0 0 24 24"
                     fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M2.75 11.5C2.75 16.3325 6.66751 20.25 11.5 20.25C16.3325 20.25 20.25 16.3325 20.25 11.5C20.25 6.66751 16.3325 2.75 11.5 2.75C6.66751 2.75 2.75 6.66751 2.75 11.5ZM11.5 21.75C5.83908 21.75 1.25 17.1609 1.25 11.5C1.25 5.83908 5.83908 1.25 11.5 1.25C17.1609 1.25 21.75 5.83908 21.75 11.5C21.75 14.0605 20.8111 16.4017 19.2589 18.1982L22.5303 21.4697C22.8232 21.7626 22.8232 22.2374 22.5303 22.5303C22.2374 22.8232 21.7626 22.8232 21.4697 22.5303L18.1982 19.2589C16.4017 20.8111 14.0605 21.75 11.5 21.75Z"
                          fill="#16151C"/>
                </svg>
                <input
                        class="focus:ring-0 text-dark-dark-20percent text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative flex-1 bg-transparent focus:outline-none border-none"
                        placeholder="Search By Matricule"
                        [(ngModel)]="searchTerm"
                />
            </div>
        </div>
        <div class="flex  space-x-2 mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <div
                    routerLink="new"
                    class="bg-primary-500 rounded-[10px] p-5 flex flex-row gap-2.5 items-center justify-center h-[50px] relative"
            >
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M11 7V15M15 11H7M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <button
                        class="text-white text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative">
                    Certification
                </button>
            </div>
            <div
                    (click)="isFilterOpen = !isFilterOpen"
                    class="
        cursor-pointer
        rounded-xl border-solid border-gray-gray-20percent border p-5 flex flex-row gap-2.5 items-center justify-center w-[117px] h-[50px] relative"
            >
                <svg
                        class="shrink-0 w-6 h-6 relative overflow-visible"
                        style=""
                        width="25"
                        height="24"
                        viewBox="0 0 25 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M3.5 6H10.5"
                            stroke="#16151C"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    />
                    <path
                            d="M3.5 12H12.5"
                            stroke="#16151C"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    />
                    <path
                            d="M19.5 12H21.5"
                            stroke="#16151C"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    />
                    <path
                            d="M14.5 6L21.5 6"
                            stroke="#16151C"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    />
                    <path
                            d="M13.5 18H20.5"
                            stroke="#16151C"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    />
                    <path
                            d="M3.5 18H6.5"
                            stroke="#16151C"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    />
                    <circle cx="8.5" cy="18" r="2" stroke="#16151C" stroke-width="1.5"/>
                    <circle cx="17.5" cy="12" r="2" stroke="#16151C" stroke-width="1.5"/>
                    <circle cx="12.5" cy="6" r="2" stroke="#16151C" stroke-width="1.5"/>
                </svg>
                <div
                        class="text-dark-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative"
                >
                    Filtre
                </div>
            </div>

        </div>
    </div>
    <div class="mt-8 flow-root">
        <div
                *ngIf="isFilterOpen"
                class="flex flex-row gap-[15px] items-start justify-start relative">
            <div
                    class="rounded-[10px] border-solid border-gray-gray-10percent border pt-[13px] pr-4 pb-[13px] pl-4 flex flex-col gap-2.5 items-start justify-center shrink-0  relative">
                <div class="flex flex-row gap-2.5 items-start justify-start self-stretch shrink-0 relative">

                    <nz-range-picker
                            nzBorderless
                            [(ngModel)]="dateCertification"
                            (ngModelChange)="onChange($event)">
                    </nz-range-picker>


                </div>
            </div>
            <div
                    class="rounded-[10px] border-solid border-gray-gray-10percent border pt-[13px] pr-4 pb-[13px] pl-4 flex flex-col gap-2.5 items-start justify-center shrink-0  relative">
                <div class="flex flex-row gap-2.5 items-start justify-start self-stretch shrink-0 relative">
                    <input
                            type="text"
                            class="focus:ring-0 text-gray-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative flex-1 bg-transparent border-none outline-none"
                            placeholder="Function"
                    />
                </div>
            </div>
            <div
                    class="rounded-[10px] border-solid border-gray-gray-10percent border pt-[13px] pr-4 pb-[13px] pl-4 flex flex-col gap-2.5 items-start justify-center shrink-0  relative">
                <div class="flex flex-row gap-2.5 items-start justify-start self-stretch shrink-0 relative">
                    <input
                            type="text"
                            class="focus:ring-0 text-gray-500 text-left font-body-1-regular-font-family text-body-1-regular-font-size leading-body-1-regular-line-height font-body-1-regular-font-weight relative flex-1 bg-transparent
            border-none outline-none focus:outline-none"
                            placeholder="Catégorie"
                    />
                </div>
            </div>
        </div>

        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                            ID
                        </th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date Planned
                        </th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date Start
                        </th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date End</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Nbr Days Date
                            Entry
                        </th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Validate</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                    <ng-container *ngIf="list.length > 0; else noDataTemplate">
                        <tr
                                (click)="showModal()"
                                *ngFor="let item of list">
                            <td class="px-3 py-2">{{ item.id }}</td>
                            <td class="px-3 py-2">{{ item.date }}</td>
                            <td class="px-3 py-2">{{ item.datePlanned }}</td>
                            <td class="px-3 py-2">{{ item.dateStart }}</td>
                            <td class="px-3 py-2">{{ item.dateEnd }}</td>
                            <td class="px-3 py-2">{{ item.nbrDaysDateEntry }}</td>
                            <td class="px-3 py-2">{{ item.validate ? 'Yes' : 'No' }}</td>
                        </tr>
                        <nz-modal
                                [(nzVisible)]="isVisible"
                                class="w-full"
                                nzTitle="certification Title"
                                nzWidth="80%"
                        >
                            <div class="w-full" *nzModalContent>
                                <app-show-certification></app-show-certification>
                            </div>

                            <div class="flex items-end justify-end gap-4" *nzModalFooter>
                                <button class="px-6 py-2 min-w-[120px] text-center text-white bg-violet-600 border border-violet-600 rounded active:text-violet-500 hover:bg-transparent hover:text-violet-600 focus:outline-none focus:ring"
                                 >
                                    Edit
                                </button>n

                                <button class="px-6 py-2 min-w-[120px] text-center text-violet-600 border border-violet-600 rounded hover:bg-violet-600 hover:text-white active:bg-indigo-500 focus:outline-none focus:ring"
                                   >
                                    Cancel
                                </button>
                            </div>
                        </nz-modal>
                    </ng-container>
                    <ng-template #noDataTemplate>

                        <tr>
                            <td colspan="7" class="flex flex-col justify-center items-center px-3 py-4 text-center">
                                <svg class="w-72 h-72 "
                                     xmlns="http://www.w3.org/2000/svg" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     x="0" y="0" viewBox="0 0 68 68"

                                     style="enable-background:new 0 0 512 512" xml:space="preserve">
                        <g><path d="M21.5 38.6c.3-.3.3-.8 0-1.1l-2.4-2.4 3.1-3.1c.3-.3.3-.8 0-1.1s-.8-.3-1.1 0L18 34l-2.8-2.8c-.3-.3-.8-.3-1.1 0s-.3.8 0 1.1l2.8 2.8-2.8 2.8c-.3.3-.3.8 0 1.1s.8.3 1.1 0l2.8-2.8 2.4 2.4c.4.3.8.3 1.1 0zM21.2 48.5c-.3.3-.3.8.1 1.1.3.3.8.3 1.1-.1 4.9-5.4 13.3-5.3 18.1-.3.3.3.8.3 1.1 0s.3-.8 0-1.1c-5.5-5.6-14.9-5.7-20.4.4z" fill="#000000" opacity="1" data-original="#000000" class=""></path>
                            <path
                                    d="M58.6 54.5 61.2 28c.1-1.1-.3-2.2-1-3s-1.8-1.3-2.9-1.3v-6.9c0-2.6-2-4.7-4.6-4.8l-42.1-.6c-2.7 0-4.7 2.1-4.8 4.6v1.8c-1.2.3-2.1 1.1-2.6 2.3-.6.7-1 1.6-1.2 2.3-.5 1.8-.4 3.7-.2 5.6.8 8.8 1.6 17.5 2.3 26.3.3 3.8 1.3 5.4 6.8 5.7 15.7.8 31.4.7 47.1.4.6 0 1.3 0 1.8-.3.6-.3 1-.9.9-1.5-.3-1.3-2.5-1.1-3.8-1.2.9-.6 1.5-1.6 1.7-2.9zM10.6 13l42.1.6c1.7 0 3.2 1.5 3.1 3.2v7H41.1c-1.1 0-2.2-.5-3-1.3l-2.3-2.6c-1.2-1.3-2.9-2.1-4.7-2.1H7.3v-1.6c0-1.9 1.5-3.3 3.3-3.2zm44.1 43.6H9.6c-1.2 0-2.3-.9-2.4-2.2L4.3 21.8c-.1-1.4 1-2.6 2.4-2.6h24.4c1.4 0 2.7.6 3.6 1.6l2.3 2.6c1 1.2 2.5 1.9 4.1 1.9h16.2c.7 0 1.3.3 1.8.8s.7 1.2.6 1.8l-2.6 26.5c-.1 1.2-1.2 2.2-2.4 2.2z"
                                    fill="#000000" opacity="1" data-original="#000000" class=""></path>
                            <path
                                    d="m44.2 33.8 2.2-2.2c.3-.3.3-.8 0-1.1s-.8-.3-1.1 0l-2.2 2.2-2.8-2.8c-.3-.3-.8-.3-1.1 0s-.3.8 0 1.1l2.8 2.8-2.6 2.6c-.3.3-.3.8 0 1.1s.8.3 1.1 0l2.6-2.6 2.8 2.8c.3.3.8.3 1.1 0s.3-.8 0-1.1zM57.8 7.6c-.9 1.2-1.6 2.4-2.1 3.8-.1.4.1.8.5.9s.8-.1.9-.5c.4-1.2 1-2.4 1.8-3.4.3-.3.2-.8-.1-1.1-.3 0-.7 0-1 .3zM64.2 10.5c-.2-.3-.7-.5-1-.2l-4.7 3c-.3.2-.4.7-.2 1s.7.5 1 .2l4.7-3c.3-.2.4-.7.2-1zM65.6 15.9l-5.3.4c-.4 0-.7.4-.7.8s.4.7.8.7l5.3-.4c.4 0 .7-.4.7-.8-.1-.4-.4-.7-.8-.7z"
                                    fill="#000000" opacity="1" data-original="#000000" class=""></path></g></svg>
                                <p class="mt-2">No data available.</p>
                            </td>
                        </tr>

                    </ng-template>
                    </tbody>
                </table>
            </div>
            <app-pagination/>
        </div>
    </div>

</div>
