<div [formGroup]="parentForm" class="px-3">
  <div
          class="lg:max-w-[932px] md:max-w-[744px] max-w-[375px] mx-auto bg-white "
  >
    <div
            class="flex lg:flex-row md:flex-col-reverse flex-col-reverse justify-between lg:px-14 md:px-6 px-4  w-full"
    >
      <div class="text">
        <div class="w-full lg:mt-0 mt-6">
          <p class="text-base text-gray-800">DEPARTMENT</p>
          <nz-select
                  id="department"
                  nzBorderless
                  [ngClass]="{'border-red-400': parentForm.get('department')?.invalid && parentForm.get('department')?.touched, 'border-gray-300': !(parentForm.get('department')?.invalid && parentForm.get('department')?.touched)}"
                  class="placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded mt-4"
                  formControlName="department"
                  nzSize="default"
                  nzShowSearch
                  nzAllowClear
                  (ngModelChange)="getDepartments($event)"
                  nzPlaceHolder="Select a department"
          >
            <ng-container *ngFor="let departmentGroup of options">
              <nz-option *ngFor="let option of departmentGroup"
                         [nzLabel]="option.department" [nzValue]="option"></nz-option>
            </ng-container>
          </nz-select>
          <p class="mt-3 text-xs text-red-400"
             *ngIf="parentForm.get('department')?.invalid && parentForm.get('department')?.touched">
            Le département est obligatoire
          </p>
        </div>
        <div class="">
          <div class="mt-10">
            <p class="text-base text-gray-800">JOB</p>
            <nz-select
                    id="job"
                    formControlName="job"
                    nzBorderless

                    [ngClass]="{'border-red-400': parentForm.get('job')?.invalid && parentForm.get('job')?.touched, 'border-gray-300': !(parentForm.get('job')?.invalid && parentForm.get('job')?.touched)}"
                    class="placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded mt-4"
                    nzPlaceHolder="Emploi"
            >
              <nz-option *ngFor="let option of optionsJobs"
                         [nzLabel]="option.job" [nzValue]="option.id"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class="">
          <div class="mt-10">
            <p class="text-base text-gray-800">CONTRE MAITRE</p>
            <nz-select
              nzPlaceHolder="Select users"
              nzAllowClear
              nzShowSearch
              nzServerSearch
              formControlName="manger"
              [ngClass]="{'border-red-400': parentForm.get('manger')?.invalid && parentForm.get('manger')?.touched, 'border-gray-300': !(parentForm.get('manger')?.invalid && parentForm.get('manger')?.touched)}"
              class="placeholder:text-sm placeholdertext-gray-500 focus:outline-none border border-gray-300 lg:min-w-[540px] w-full py-3 px-3 rounded mt-4"
              id="manger"
              (nzOnSearch)="onSearch($event)"
            >
              <ng-container *ngFor="let o of optionList">
                <nz-option *ngIf="!isLoading" [nzValue]="o.id" [nzLabel]="o.full_name"></nz-option>
              </ng-container>
              <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                <span nz-icon nzType="loading" class="loading-icon"></span>
                Loading Data...
              </nz-option>
            </nz-select>

          </div>
        </div>
        <div class="lg:flex md:flex block gap-8 lg:mt-10 md:mt-6 mt-4">
          <div class="w-full">
            <p class="text-base text-gray-800">DATE OF HIRINF</p>
            <div
                    class="flex justify-between border-gray-300 lg:min-w-[250px] w-full py-3 px-3 rounded mt-4 border cursor-pointer"
            >
              <input
                      formControlName="date_hiring"
                      type="date"
                      name="date_hiring"
                      id="date_hiring"
                      [ngClass]="{'border-red-400': parentForm.get('date_hiring')?.invalid && parentForm.get('date_hiring')?.touched, 'border-gray-300': !(parentForm.get('date_hiring')?.invalid && parentForm.get('manger')?.touched)}"
                      placeholder="Select date"
                      class="placeholder:text-sm placeholdertext-gray-500 focus:outline-none w-full cursor-pointer"
              />
              <p class="mt-3 text-xs text-red-400" *ngIf="parentForm.get('phone')?.invalid && parentForm.get('phone')?.touched">
                Please enter your date hiring.
              </p>
            </div>
          </div>
          <div class="lg:mt-0 md:mt-0 mt-4 w-full">
            <p class="text-base text-gray-800">DATE OF START</p>
            <div
                    class="flex justify-between border-gray-300 lg:min-w-[250px] w-full py-3 px-3 rounded mt-4 border cursor-pointer"
            >
              <input
                      formControlName="date_start"
                      type="date"
                      name="date_start"
                      id="date_start"
                      [ngClass]="{'border-red-400': parentForm.get('date_start')?.invalid && parentForm.get('date_start')?.touched, 'border-gray-300': !(parentForm.get('date_start')?.invalid && parentForm.get('date_start')?.touched)}"
                      placeholder="Select date"
                      class="placeholder:text-sm placeholdertext-gray-500 focus:outline-none w-full cursor-pointer"
              />
            </div>
          </div>
        </div>
        <div class="lg:flex md:flex block gap-8 md:mt-4 mt-6">
          <div class="w-full">
            <p class="text-base text-gray-800">DATE VISIT</p>
            <div
                    class="flex justify-between border-gray-300 lg:min-w-[250px] w-full py-3 px-3 rounded mt-4 border cursor-pointer"
            >
              <input
                      formControlName="date_visit"
                      type="date"
                      [ngClass]="{'border-red-400': parentForm.get('date_visit')?.invalid && parentForm.get('date_visit')?.touched, 'border-gray-300': !(parentForm.get('date_visit')?.invalid && parentForm.get('date_visit')?.touched)}"
                      name="date_visit"
                      id="date_visit"
                      placeholder="Select date"
                      class="placeholder:text-sm placeholdertext-gray-500 focus:outline-none w-full cursor-pointer"
              />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
